fastapi==0.115.13
pydantic_core==2.35.1
uvicorn==0.34.3
sentry-sdk==2.34.0
celery==5.5.3
pyamqp==0.1.0.7
requests==2.32.4
SQLAlchemy==2.0.41
python-dotenv==1.1.0
uuid-utils==0.11.0
pyinstaller==6.14.1
psycopg==3.2.9
