fastapi==0.123.5
pydantic_core==2.41.5
uvicorn==0.38.0
sentry-sdk==2.46.0
celery==5.6.0
amqp==5.3.1
requests==2.32.5
SQLAlchemy==2.0.44
python-dotenv==1.2.1
uuid-utils==0.12.0
pyinstaller==6.17.0
psycopg==3.3.1
Authlib==1.6.5
