fastapi==0.116.1
pydantic_core==2.39.0
uvicorn==0.35.0
sentry-sdk==2.41.0
celery==5.5.3
pyamqp==0.1.0.7
SQLAlchemy==2.0.43
requests==2.32.5
python-dotenv==1.1.1
uuid-utils==0.11.0
psycopg==3.2.10
pyinstaller==6.16.0
Authlib[fastapi]==1.6.3
